/* Org-Edu-HTML CSS stylesheet */

body {
    font-family : "Lucida Sans Unicode" , sans-serif;
    background-color : lightgray;
}

button {
    border : none;
    border-radius : 12px;
    padding : 1em;
    margin : 0.5em;
    background-color : #ddd;
}

button:hover {
    background : -webkit-linear-gradient(#ddd,#ccc);
}

button:active {
    background : -webkit-linear-gradient(#ccc,#ddd);
}

fieldset {
    border-radius : 8px;
}

div.comment_ok, div.comment_wrong {
    display : inline-block;
    margin-left : 4em;
    font-size : 80%;
    width : 70%;
}

fieldset.sct span.label,
fieldset.mct span.label {
    display : inline-block;
    width : 20%;
}

div#postamble {
    font-size : 60%;
}

div#postamble p {
    margin-top : 0px;
    margin-bottom : 0px;
}